a {
    color: rgb(172, 124, 13);
}
.info {
    display: none;
    text-align: center;
    font-size: 15px;
}
.button:hover .info {
    display: block;
}
.button {
    border-radius: 4px;
    background-color: #0b0a53;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 267px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    .button:hover span {
        padding-right: 25px;
    }
        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
body {
    background-color: #524763;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    text-align: left;
    margin: 15%;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.breadcrumb {
    background-color: #0b0a53;
}