  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #524763;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    background-color: #524763;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#contianer {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}



* {
    margin: 0;
    padding: 0;
}


.position1 {
    position: absolute;
    z-index: -1;
    left: 0px;
    height: 3500px;
}

.BigText {
    font-family: 'Cinzel', serif
}

h1, h2, h3, h4, h5, h6, p {
    text-align: left;
    margin-left: 15%;
    color: white;
    text-shadow: 2px 2px 5px black;
}

a {
    color: rgb(224, 195, 30);
    text-decoration: none;
}


.button {
    background-color: #5c4e4e;
    border: none;
    font-family: 'Allan', cursive;
    font-size: 20px;
    text-decoration: none;
    width: 140px;
    height: 50px;
}

    .button:hover {
        background-color: rgb(27, 12, 51);
    }

input {
    height: 50px;
    width: 400px;
    background-image: linear-gradient(rgb(27, 12, 51), black);
    font-weight: bolder;
    color: cornsilk;
    border-radius: 20px, 20px, 20px;
    border-color: cyan;
    text-decoration: cyan;
}


body {
    background-image: url("2020-05-15.png");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Lemonada', cursive;
    font-size: 70%;
}





/* nav bar css */

ul {
    color: rgb(251, 193, 4);
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #5c4e4e;
    background-attachment: fixed;
    height: 50px;
    width: 100%;
}

li {
    float: left;
}

    li a {
        display: inline;
        padding: 8px;
    }

.morelinks a {
    padding: 0px;
    width: 140px;
}

    .morelinks a:hover {
        background-color: rgb(27, 12, 51);
    }

.nav {
    position: fixed;
}

.more {
    display: none;
    width: 140px;
}

.morelinks, .more {
    background-color: #5c4e4e;
    display: none;
    text-align: center;
}

@media only screen and (max-width: 1260px) and (min-width: 810px) {
    .a {
        display: none;
        padding: 8px;
    }

    .more {
        display: block;
    }
}

@media only screen and (max-width: 810px) and (min-width: 500px) {
    .a {
        display: none;
        padding: 8px;
    }

    .more {
        display: block;
    }

    li img {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .a {
        display: none;
        padding: 8px;
    }

    .more {
        display: block;
    }

    li img {
        display: none;
    }

    input {
        width: 100px;
    }
}
